<div ng-controller="loginCtrl">
  <div class="groupInputs">
    <label for="email">Courriel :</label>
    <input type="text" id="email" ng-model="email" />
  </div>
  <div class="groupInputs">
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" ng-model="password" />
  </div>
  <div>
    <input type="button" value="Se connecter" ng-click="authentification()" />
  </div>
  <p class="error" ng-show="connectionFailed">{{error}}</p>
  <p>Pas de compte, cliquez <a ng-href="{{url}}registration">ici</a> pour en créer un.</p>
</div>
