<div ng-controller="registrationCtrl">
  <div class="groupInputs">
    <label for="email">Courriel :</label>
    <input type="text" id="email" ng-model="email" />
  </div>
  <div class="groupInputs">
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" ng-model="password" />
  </div>
  <div>
    <input type="button" value="S'inscrire" ng-click="addDistributeur()" />
  </div>
  <p class="error" ng-show="fieldsError">{{error}}</p>
  <p>Vous avez déjà un compte?</p>
  <p>Cliquez <a ng-href="#">ici</a> pour vous connecter.</p>
</div>

