<div ng-controller="trajetCtrl" onload="googleMapsScript()">
  <div id="deconnect">
    <a href="#/">Se déconnecter</a>
  </div>
  <div id="retourEnArriere">
    <a href="#/account">Retourer à la sélection des trajets</a>
  </div>

  <div>
    <p>Id du camion : {{camionId}}</p>
    <p>Date prévue : {{datePrevue}}</p>
    <p>Date de la dernière mdification : {{dateDerniereEdition}}</p>
    <!--
    <p>Ligne : {{ligne}}</p>
    <input type="button" value="Cliquer" onclick="console.log(adresses)">
    -->
  </div>

  <div id="googleMapsDiv">
    <div id="map"></div>
    <div id="right-panel">
      <div>
        <b>Entrer la livraison:</b><br>
        Adresse :<br>
        <input type="text" id="adresse" value="Halifax, NS" ng-model="adresse">
        <br>
        Temps estimé (min) :<br>
        <input type="text" id="temps_estime" ng-model="temps_estime">
        <br>
        Nom de l'article:<br>
        <input type="text" id="article" ng-model="article">
        <br>
        <input type="button" value="Ajouter livraison" onclick="displayAdresses()">
        <br>
        <b>Trajet :</b><br>
        <div id="list_adresses"><ul></ul></div>
        <br>
        <!--
        <b>Waypoints:</b><br>
        <div id="list_subadresses"><ul></ul></div>
        <br>
        -->
        <!--
        <input id="saveBtn" type="button" value="Sauvegarder trajet" ng-disabled="saveValid" ng-click="saveTrajet()" />
        -->
        <input id="saveBtn" type="button" value="Sauvegarder trajet" ng-click="saveTrajet()" />
        <br>
        <input type="submit" id="submit" value="Générer trajet">
        <br>
        <div id="directions-panel"></div>
      </div>

      <div id="bottom-panel">
        <b>Directions:</b><br>
        <input type="button" value="Imprimer instructions" onclick="window.print()">
      </div>


    </div>
  </div>
  <div class="clear"></div>
  <div class="espace"></div>
</div>
